---
layout: default
---

<!-- 
<div style="text-align: center;"> 
    <div style='float:left; width:33.33%;'>
  charles_gagnon@brown.edu 
    </div>
    <div style='float:left; width:33.33%;'>
  <a href="https://github.com/chgagnon"> github.com/chgagnon </a> 
  </div>
  <div style='float:left; width:33.33%;'>
  (508) 654 5359
  </div>
</div> -->

<div class='subbanner'>
  <div> 
    <strong> Email </strong> <br> 
    <a href='mailto:charles_gagnon@alumni.brown.edu'> charles_gagnon@alumni.brown.edu </a>
  </div>  
  <div> 
    <strong> GitHub </strong> <br> 
    <a href="https://github.com/chgagnon"> github.com/chgagnon </a></div>  
  <div> 
    <strong> Phone </strong> <br> 
    <a href="tel:+1-508-654-5359"> (508) 654 5359 </a>
  </div>  
</div>

<br>

{{content}}